{% extends 'main/base.html' %}
{% load static %}
<title>{% block title %}About Us{% endblock %}</title>

{% block head %}
<style>
    body {
        background-image: url("{% static 'images/14.jpg' %}");
        background-size: cover;
        background-position: center;
    }

    .about-page {
        padding: 50px 0;
        text-align: center;
        color: #fff;
    }

    .about-page h2 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .about-page p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="about-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="display-4 font-weight-bold">About Us</h2>
                <p class="lead">Cleaning Hub is a premier cleaning service provider dedicated to delivering exceptional cleaning solutions. With years of experience and a team of highly trained professionals, we take pride in providing a wide range of cleaning services tailored to meet our clients' unique needs.</p>
                <p>We strive for excellence in every aspect of our service, from using eco-friendly cleaning products to employing efficient cleaning techniques. Our mission is to create clean and healthy environments for our clients, allowing them to focus on what matters most.</p>
                <p>At Cleaning Hub, we understand the importance of reliability and trust. That's why we ensure punctuality, attention to detail, and open communication throughout the cleaning process. We are committed to exceeding our clients' expectations and building long-term relationships based on integrity and quality.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
