<title>{% block title %}Create an Account{% endblock %}</title>
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-image: url("{% static 'images/com.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white; /* Set text color to white */
        }
    </style>
{% endblock%}
{% block content %}
<div class="container h-100">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-sm-6">
            <h2 class="mb-4">Create An Account</h2>
            <form method="POST" class="form-group">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
                    {{ form.phone_number }}
                </div>
                <div class="form-group">
                    <label for="{{ form.address.id_for_label }}">Address:</label>
                    {{ form.address }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                    {{ form.password2 }}
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}



